.displaywish-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    .wishlist-heading{
        margin-left: 10%;
        margin-top: 2%;
        font-size: 16px;
        font-weight: 600;
        
    }
    .wishlist{
        width: 774px;
        height: auto;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #707070;
        border-radius: 1px;
        margin-left: 10%;
        margin-top: 3%;
        font-size: 16px;
        font-weight: 600;
        padding-left: 3%;
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
        
        .book-det{
          margin-top: 2%;
          display: flex;
        }
        .book-detail{
            display: flex;
            flex-direction: column;
            width: 250px;
            margin-bottom: 5%;
            .book--name{
                width: 150px;
                margin-left: 5%;
                font-size: 15px;
                
                .author--name{
                    font-size: 12px;
                    margin-top: 5%;
                }
            }
            
        }
    }
    
}
.btn{
    display: flex;
    width: 100%;
   margin-top: 5%;
    .remove-wish{
        margin-left: 50%;
        background-color: #FFFFFF;
        border-color: #707070;
        height: 30px;
        border-radius: 4px;
    }
    .addcart-btn{
        height: 30px;
        background-color: brown;
        color: #FFFFFF;
        border: none;
        border-radius: 3px;

    }
}
